<% provide(:title, "BlogSports") %>
<!-- *** TOPBAR *** -->
<div class="col-sm-12">
  <ul class="breadcrumb">
    <li>
      <a href="#"><%= t "home" %></a>
    </li>
    <li><%= t "list_blog" %></li>
  </ul>
</div>
