<% provide(:title, @user.name) %>
<!-- *** TOPBAR *** -->
<div class="col-sm-12">
  <ul class="breadcrumb">
    <li>
      <%= link_to t("home"), root_path %></a>
    </li>
    <li>Blog listing</li>
  </ul>
</div>
 <!-- *** LEFT COLUMN END *** -->
<div class="col-md-4">
  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50 %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<div class="col-sm-8" id="blog-listing">
  <%= render "microposts/micropost" %>
</div>
